/* .App {
  text-align: center;
  background-color: pink;
} */

.header {
  background-color: pink;
  display: flex;
  justify-content: center;
}

.row {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

#tripCard {
  border-color: red;
  border-radius: 30px;
  border: solid, 100px;
  width: 18rem;
  margin: 20px;
}