.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

 .row {
  display: flex;
  color: black;
  justify-content: center;
  justify-self: center;
}

.App-link {
  color: #61dafb;
}

#tripCard {
  border-color: black;
  border-radius: 30px;
  border: solid;
  width: 18rem;
  margin: 20px;
}

.button {
  margin: 20px;
}

.cardImage {
  width: 100%;
  margin-top: 20px;
  height: 100%;
}